/***** map.css *****/
html{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
body{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
#mapcontainer {
    z-index: 0;
    width: 100%;
    opacity: 1;
  }
  .clCircle {
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
  }

  header {
    width: 100%;
    height : 20vw;
  
  }
  #vueEvent > .loading {
    height: 100%;
  }
  #vueEvent > .loading > img{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height :20%;
  }
  div > .activeMarker {
    width: 20px !important;
    height: 20px !important;
    margin: -10px !important;
    border-radius: 20px;
    border: 3px solid #fdfdfd;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.8);
    background-color: rgba(37, 142, 255, 1);
    z-index: 20 !important;
  }

  div > .deactiveMarker {
    width: 20px !important;
    height: 20px !important;
    margin: -10px !important;
    border-radius: 20px;
    border: 3px solid #fdfdfd;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.8);
    background-color: rgba(130, 130, 130, 1);
    z-index: 20 !important;
  }


div#vueEvent{
  width: 100%;
  height: 100%;
}
.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background: black;
  border-color: orange;
}

.leaflet-popup-content,
a.leaflet-popup-close-button {
  color: orange !important;
  font: bold 14pt monospace;
}

.leaflet-popup-content-wrapper {
  border-width: 3px;
  border-style: solid;
}

.leaflet-popup-tip-container {
  margin-top: -3px;
  height: 23px;
}

.leaflet-popup-tip {
  border-style: solid;
  border-width: 0 3px 3px 0;
}
