/***** menu.css *****/
/* base */
body {
  margin: 0px;
  padding: 0px;
}
header {
  position: relative;
}

/* spa用の初期化 */

/* 上部メニュー */
.login_name{
  position: absolute;
  font-weight: bolder;
  font-size: 14px;
  font-style: italic;
  z-index: 1;
  top: 2vw;
  left:4vw;
 
}
.login_name img{
  height: 6vw;
  padding-left:1vw;
}
.login_name p{
  background-color:rgba(255,255,255,0.8);
  border-color: silver;
  border-style: solid;
  border-width: 2px;
  border-radius:6px;
  margin: 0 auto;
  text-align: center;
}
.menu_top {
  position: absolute;
  top: 4vw;
  right: 4vw;
  z-index: 1;
  border:0;

}
.menu_top :active {
  color:rgb(214, 214, 214);
}

.menu_top > button {
 color:none;
  border: 0;
  background-color: rgba(0, 0, 0, 0.0);
  
}

.menu_top > button > i {
  font-size: 5em;
  color: gray;
 
  

}

/* 下部メニュー */
.menu_bar {
  background-color: rgba(255, 255, 255, 0.7);
  bottom: 0;
  width: 100%;
  height: 70px;
  position: fixed;
}

.menu_btn {
  position: relative;
  color: rgba(50, 50, 50, 1);
  font-size: 1px;
  display: inline-block;
  background-color: rgba(1, 1, 1, 0);
  text-align: center;
  left: 5%;
  width: 10%;
  height: 100%;
  cursor: pointer;
  border-style: none;
  z-index: 0;
}
.menu_btn_selected {
  color: #ffffff;
  background-color:rgba(150, 150, 150, 1.0);
}
.menu_btn_nonselect img{
  -webkit-filter: brightness(50%);
  filter: brightness(50%);
}
.menu_icon {
  display: inline-block;
  position: left;
  width: 25px;
  height: 25px;
  
}
/****** map,post,histry css ******/
#map {
  background-color: rgba(150, 150, 150, 1);
  color: #ffffff;
}

#post {
  display: block;
  width: 80%;
  height: 60%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: 10px;
  margin: auto;
  position: absolute;
  color: rgba(0, 138, 255, 1);
  text-align: left;
  padding: 3px;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 10px;
}
.post_label{
  display: inline-block;
        position: absolute;
        width: 20%;
}
.post_input{
   display: inline-block;
        position: absolute;
        width: 70%;
        top: 0;
        bottom: 0;
        margin: auto auto auto 20%;
}
.area1{
   text-align: left;
        position: relative;
        padding: 0px 0px 0px 0px;
        width: 100%;
        height: 10%;
        border-bottom: solid;
        border-bottom-color: rgba(0, 0, 0, 0.2);
        border-width: 1px;
}
button.post_reset {
      display: inline-block;
        position: abusolute;
        padding: 1px;
        margin: auto auto auto 7px;
        height: 90%;
        z-index: 100;
        font-size: 18px;
        letter-spacing: 0px;
        color: rgba(0,138,255,1.0);
}
button.post_reset:active {
   color: rgba(0,108,200,1.0);
}
button.post_send {
     display: inline-block;
        position: absolute;
        right: 7px;
        padding: 1px;
        margin: auto auto auto auto;
        height: 90%;
        z-index: 100;
        font-size: 18px;
        letter-spacing: 0px;
        color: rgba(0,138,255,1.0);
}
.area2 {
   position: relative;
        padding: 0px;
        width: 100%;
        height: 10%;
        border-bottom: solid;
        border-bottom-color: rgba(0, 0, 0, 0.2);
        border-width: 1px;
}
.area3 {
   position: relative;
        width: 100%;
        height: 30%;
        border-bottom: solid;
        border-bottom-color: rgba(0, 0, 0, 0.2);
        border-width: 1px;
}
textarea.post_input{
   height: 70%;
        top: 0;
        bottom: 0;
        margin: auto auto auto 20%;
}
.area4 {
  position: relative;
        width: 100%;
        height: 10%;
        border-bottom: solid;
        border-bottom-color: rgba(0, 0, 0, 0.2);
        border-width: 1px;

}
.area5 {
   position: relative;
        width: 100%;
        height: 40%;

}

/* 投稿用部分 */
.app_body {
  display: block;
  overflow: auto;
  width: 85%;
  height: 100vw;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  position: relative;
  text-align: left;
  z-index: 10;
}
#setting {
  position: absolute;
  background-color:rgba(255,255,255,0.8);
  border-color: silver;
  border-style: solid;
  border-width: 2px;
  border-radius:12px;
  margin: auto auto;
  padding: 2vw 2vw;
  text-align: center;
  top:0vw;
  height: 5vw;
  width: 15vw;
}
#setting > .logout_btn{
  font-size: 2vw;
  margin-top: 10%;
  padding: auto auto;
  border-color: silver;
  border-style: solid;
  border-width: 2px;
  border-radius:4px;
}
.histBox {
  width: 100%;
  height: auto;
  max-height: 30%;
  border-radius: 10px;
  margin: 3px;
  padding: 10px;
  background-color: rgba(255,255,255,0.8);
}
.histBox_cont {
  display: inline-block;
  width: 65%;
}
.histBox_cont_date {
  display: block;
  font-size: 20px;
}
.histBox_cont_msg {
  display: block;
  font-size: 12px;
}
.histBox_attr {
  display: inline-block;
  width: 30%;
  text-align: center;
}
.histBox_attr_pin {
  display: inline-block;
}.histBox_attr_text {
  display: block;
  font-size: 12px;
}