{% load static %}
<html>
  <head>
    <meta charset="UTF-8">
    <title>TOWN HERO LOGIN</title>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <script>　// スマートフォンフルスクリーンモード解除対策
      $(function(){
          var aTags = $('a');
          aTags.each(function(){ 
              var url = $(this).attr('href');
     　　 　   $(this).removeAttr('href');
              $(this).click(function(){
                  location.href = url;
              });
          });
      });
    </script>
    <!-- stylesheet -->
    <link rel="stylesheet" href="{% static '/css/signup.css' %}">
  </head>

  <body>
    <!-- TOWN HEROのロゴマーク -->
    <div class="logo">
        <img id="logo_img" src="{% static '/images/logo_white.png' %}">
      </div>

    <!-- ログイン入力フォーム -->
    <div class="inputForm">
      <section class="common-form">
          <form method="post">
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit" class="submit">Sign up</button>
          </form>
      </section>
    </div>
  </body>
  